@font-face {
    font-family: 'Transformers Movie';
    src: url("./fonts/Transformers\ Movie.ttf");
}

h2 {
    font-family: "Transformers Movie", sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 0;
    text-align: center;
    letter-spacing: 2px;
}

p {
    width: 300px;
    font-family: "Transformers Movie", sans-serif;
    padding: 10px 20px;
    text-align: center;
    letter-spacing: 1px;
    color: rgb(139, 139, 139);
}